[[:space:]][[:space:]][[:space:]]restore[[:space:]][[:space:]][[:space:]][[:space:]]Restore[[:space:]]working[[:space:]]tree[[:space:]]files filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]show[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Show[[:space:]]various[[:space:]]types[[:space:]]of[[:space:]]objects filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]switch[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Switch[[:space:]]branches filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]init[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Create[[:space:]]an[[:space:]]empty[[:space:]]Git[[:space:]]repository[[:space:]]or[[:space:]]reinitialize[[:space:]]an[[:space:]]existing[[:space:]]one filter=lfs diff=lfs merge=lfs -text
collaborate[[:space:]](see[[:space:]]also:[[:space:]]git[[:space:]]help[[:space:]]workflows) filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][--no-optional-locks][[:space:]][--no-advice][[:space:]][--bare][[:space:]][--git-dir=<path>] filter=lfs diff=lfs merge=lfs -text
examine[[:space:]]the[[:space:]]history[[:space:]]and[[:space:]]state[[:space:]](see[[:space:]]also:[[:space:]]git[[:space:]]help[[:space:]]revisions) filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]backfill[[:space:]][[:space:]][[:space:]]Download[[:space:]]missing[[:space:]]objects[[:space:]]in[[:space:]]a[[:space:]]partial[[:space:]]clone filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]commit[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Record[[:space:]]changes[[:space:]]to[[:space:]]the[[:space:]]repository filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]push[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Update[[:space:]]remote[[:space:]]refs[[:space:]]along[[:space:]]with[[:space:]]associated[[:space:]]objects filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]grep[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Print[[:space:]]lines[[:space:]]matching[[:space:]]a[[:space:]]pattern filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]log[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Show[[:space:]]commit[[:space:]]logs filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]status[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Show[[:space:]]the[[:space:]]working[[:space:]]tree[[:space:]]status filter=lfs diff=lfs merge=lfs -text
usage:[[:space:]]git[[:space:]][-v[[:space:]]|[[:space:]]--version][[:space:]][-h[[:space:]]|[[:space:]]--help][[:space:]][-C[[:space:]]<path>][[:space:]][-c[[:space:]]<name>=<value>] filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]add[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Add[[:space:]]file[[:space:]]contents[[:space:]]to[[:space:]]the[[:space:]]index filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]rm[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Remove[[:space:]]files[[:space:]]from[[:space:]]the[[:space:]]working[[:space:]]tree[[:space:]]and[[:space:]]from[[:space:]]the[[:space:]]index filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]bisect[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Use[[:space:]]binary[[:space:]]search[[:space:]]to[[:space:]]find[[:space:]]the[[:space:]]commit[[:space:]]that[[:space:]]introduced[[:space:]]a[[:space:]]bug filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]diff[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Show[[:space:]]changes[[:space:]]between[[:space:]]commits,[[:space:]]commit[[:space:]]and[[:space:]]working[[:space:]]tree,[[:space:]]etc filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]reset[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Reset[[:space:]]current[[:space:]]HEAD[[:space:]]to[[:space:]]the[[:space:]]specified[[:space:]]state filter=lfs diff=lfs merge=lfs -text
See[[:space:]]'git[[:space:]]help[[:space:]]git'[[:space:]]for[[:space:]]an[[:space:]]overview[[:space:]]of[[:space:]]the[[:space:]]system. filter=lfs diff=lfs merge=lfs -text
to[[:space:]]read[[:space:]]about[[:space:]]a[[:space:]]specific[[:space:]]subcommand[[:space:]]or[[:space:]]concept. filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]clone[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Clone[[:space:]]a[[:space:]]repository[[:space:]]into[[:space:]]a[[:space:]]new[[:space:]]directory filter=lfs diff=lfs merge=lfs -text
grow,[[:space:]]mark[[:space:]]and[[:space:]]tweak[[:space:]]your[[:space:]]common[[:space:]]history filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]branch[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]List,[[:space:]]create,[[:space:]]or[[:space:]]delete[[:space:]]branches filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]rebase[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Reapply[[:space:]]commits[[:space:]]on[[:space:]]top[[:space:]]of[[:space:]]another[[:space:]]base[[:space:]]tip filter=lfs diff=lfs merge=lfs -text
'git[[:space:]]help[[:space:]]-a'[[:space:]]and[[:space:]]'git[[:space:]]help[[:space:]]-g'[[:space:]]list[[:space:]]available[[:space:]]subcommands[[:space:]]and[[:space:]]some filter=lfs diff=lfs merge=lfs -text
These[[:space:]]are[[:space:]]common[[:space:]]Git[[:space:]]commands[[:space:]]used[[:space:]]in[[:space:]]various[[:space:]]situations: filter=lfs diff=lfs merge=lfs -text
work[[:space:]]on[[:space:]]the[[:space:]]current[[:space:]]change[[:space:]](see[[:space:]]also:[[:space:]]git[[:space:]]help[[:space:]]everyday) filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]merge[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Join[[:space:]]two[[:space:]]or[[:space:]]more[[:space:]]development[[:space:]]histories[[:space:]]together filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]pull[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Fetch[[:space:]]from[[:space:]]and[[:space:]]integrate[[:space:]]with[[:space:]]another[[:space:]]repository[[:space:]]or[[:space:]]a[[:space:]]local[[:space:]]branch filter=lfs diff=lfs merge=lfs -text
MacOS/Dangerune.app/Contents/MacOS/Dangerune filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][--exec-path[=<path>]][[:space:]][--html-path][[:space:]][--man-path][[:space:]][--info-path] filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][-p[[:space:]]|[[:space:]]--paginate[[:space:]]|[[:space:]]-P[[:space:]]|[[:space:]]--no-pager][[:space:]][--no-replace-objects][[:space:]][--no-lazy-fetch] filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]<command>[[:space:]][<args>] filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]mv[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Move[[:space:]]or[[:space:]]rename[[:space:]]a[[:space:]]file,[[:space:]]a[[:space:]]directory,[[:space:]]or[[:space:]]a[[:space:]]symlink filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][--work-tree=<path>][[:space:]][--namespace=<name>][[:space:]][--config-env=<name>=<envvar>] filter=lfs diff=lfs merge=lfs -text
start[[:space:]]a[[:space:]]working[[:space:]]area[[:space:]](see[[:space:]]also:[[:space:]]git[[:space:]]help[[:space:]]tutorial) filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]tag[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Create,[[:space:]]list,[[:space:]]delete[[:space:]]or[[:space:]]verify[[:space:]]a[[:space:]]tag[[:space:]]object[[:space:]]signed[[:space:]]with[[:space:]]GPG filter=lfs diff=lfs merge=lfs -text
[[:space:]][[:space:]][[:space:]]fetch[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]Download[[:space:]]objects[[:space:]]and[[:space:]]refs[[:space:]]from[[:space:]]another[[:space:]]repository filter=lfs diff=lfs merge=lfs -text
concept[[:space:]]guides.[[:space:]]See[[:space:]]'git[[:space:]]help[[:space:]]<command>'[[:space:]]or[[:space:]]'git[[:space:]]help[[:space:]]<concept>' filter=lfs diff=lfs merge=lfs -text
